body {
    text-align: center; /* Вирівнюємо вміст по центру */
    height: 90vh; /* Займає всю висоту екрану */
    margin: 0; /* Видаляє зовнішні відступи */
}

h1 {
    margin-bottom: 10px; /* Зовнішній відступ під заговками */
}

table {
    text-align: center; /* Центруємо значки у комірках таблиці */
    margin: auto; /* Встановлюємо автоматичні зовнішні відступи */
}


td {
    border: 5px solid black; /* Встановлюємо товщину та колір меж */
    padding: 5px; /* Додаємо внутрішній відступ */
    border-collapse: separate; /* Розділяємо межі */
    width: 100px; /* Фіксована ширина комірок */
    height: 100px; /* Фіксована висота комірок */
    font-size: 30px; /* Розмір шрифту */
    text-align: center; /* Центруємо текст у комірках */
    empty-cells: show; /* Показуємо порожні комірки */
    margin: auto; /* Встановлюємо автоматичні зовнішні відступи */
}

button#start-again {
    margin-top: 0;
    width: 120px; /* більший розмір ширини кнопки */
    height: 40px; /* більший розмір висоти кнопки */
    font-size: 20px; /* більший розмір шрифту тексту всередині кнопки */
}


